<!DOCTYPE html>
<html lang="en">
<head>
  <title> Website name </title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <script src="https://unpkg.com/konva@8.3.14/konva.min.js"></script> 
</head>
<body>

<div class="jumbotron text-center" style="margin-bottom:1">
  <h2> WEBSITE NAME </h2>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <h2>First Photo</h2>
      <div class="container" >
        <input type="file" accept="image/*" onchange="loadFile1(event)">
          <p><img id="output1" width="0" style="visibility: hidden; " /></p>
      </div>
      <div id="container"></div>
        
      <div class="row">
        <div class="col-sm-5">
          <form action="/mag1/" method="post">
            <button name="mag1Btn" type="submit">Magnitude</button>
          </form>
        </div>
          <div class="col-sm-5">
            <form action="/phase1/" method="post">
              <button name="phase1Btn" type="submit">Phase</button>
            </form>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <h2>Second Photo</h2>
      <div class="container">
        <input type="file" accept="image/*" onchange="loadFile(event)">
              <p><img id="output2" width="0" style="visibility: hidden; "/></p>
      </div>
      <div id="container2"></div>
      <div class="row">
        <div class="col-sm-5">
          <form action="/mag2/" method="post">
            <button name="mag2Btn" type="submit">Magnitude</button>
          </form></div>
          <div class="col-sm-5">
            <form action="/phase2/" method="post">
              <button name="phase2Btn" type="submit">Phase</button>
            </form>
          </div>
      </div>
    </div>
    <div class="col-sm-4">
        <h2>Result</h2>
        
    </div>

  </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="..\static\js\style.js"></script>
</body>
</html>

