<!DOCTYPE html>
<html lang="en">
<head>
  <title> Website name </title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
  <script src="https://unpkg.com/konva@8.3.14/konva.min.js"></script> 
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/7.6.1/d3.min.js"></script>
  <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
  <link rel="stylesheet" href="{{ url_for('static',filename='css/style.css') }}">
</head>
<body>

<div class="container">
  <div class="column">
    <h2>First Photo</h2>
    <div class="options" >
      <form action="{{url_for('uploadPhoto')}}" method="POST">
        <input type="file" id="fileUpload" name = 'img1' onchange="submit()">
        <input style="visibility: hidden;  " name='sender' value='1'> 
      </form>
    </div>
    <div class="options1">
      <form action="{{url_for('switch')}}" method="POST" style="height:26px">
        <input style="visibility: hidden; height: 0px; " name='sender' value='11'> 
        <button class="btn"  name="mag1Btn" type="submit">Magnitude</button>
      </form>
      <form action="{{url_for('switch')}}" method="POST" style="height:26px">
        <input style="visibility: hidden; height: 0px; " name='sender' value='12'> 
        <button class="btn btn1" name="phase1Btn" type="submit">Phase</button>
      </form>
      <form action="{{url_for('switch')}}" method="POST" style="height:26px">
        <input style="visibility: hidden; height:0px; " name='inOrOutSender' value='1'> 
        <input type="checkbox" id="outside1" >
        <label for="outside1">Outside box</label><br>
        <!-- {%if images[1].takenInOrOut%}
          <button class="btn" name="mag2Btn" type="submit">Outside box</button>
        {%else%}
          <button class="btn" name="mag2Btn" type="submit">Inside box</button>
        {%endif%} -->
      </form>
    </div>
    <div class="image_container" >
      {%if images[1]%}
        <img src="{{images[1].spatialDomainPath}}" alt="image 1">
      {%endif%}
    </div>
    {%if images[1]%}
      {%if images[1].takenMag == 1%}
        <h2>Magnitude</h2> 
      {%else%}
        <h2>Phase</h2>
      {%endif%}
    {%endif%}
    
    <div id="container1" onclick='getNewImage()' ></div>
  </div>

       
  <div class="column">
    <h2>Second Photo</h2>
    <div class="options">
      <form action="{{url_for('uploadPhoto')}}" method="POST">
        <input type="file" id="fileUpload1" name = 'img2' onchange="submit()">
        <input style="visibility: hidden;" name='sender' value='2' > 
      </form>
    </div>
    <div class="options1">
      <form action="{{url_for('switch')}}" method="POST" style="height:26px">
        <input style="visibility: hidden; height:0px; " name='sender' value='21'> 
        <button class="btn" name="mag2Btn" type="submit">Magnitude</button>
      </form>
      <form action="{{url_for('switch')}}" method="POST" style="height:26px">
        <input style="visibility: hidden; height:0px; " name='sender' value='22'> 
        <button class="btn" name="phase2Btn" type="submit">Phase</button>
      </form>
      <form action="{{url_for('switch')}}" method="POST" style="height:26px">
        <input style="visibility: hidden; height:0px; " name='inOrOutSender' value='2'> 
        <input type="checkbox" id="outside2" >
        <label for="outside2">Outside box</label><br>
        <!-- {%if images[2].takenInOrOut%}
          <button class="btn" name="mag2Btn" type="submit">Outside box</button>
        {%else%}
          <button class="btn" name="mag2Btn" type="submit">Inside box</button>
        {%endif%} -->
      </form>
    </div>
    <div class="image_container">
      {%if images[2]%}
        <img src="{{images[2].spatialDomainPath}}" alt="image 2">
      {%endif%}
    </div>
    {%if images[2]%}
      {%if images[2].takenMag == 2%}
        <h2>Magnitude</h2> 
      {%else%}
        <h2>Phase</h2>
      {%endif%}
    {%endif%}
    <div id="container2"></div>
  </div>

  <div class="result">
    <h2>Result</h2>
    <button  class="btn " name="rect" id='save' >Show</button>
    <div id="result_container" >
     
    </div>
  </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

<script type="text/javascript">
  {%if images[1]%}
    
    var path = '../static/assets/'+'{{images[1].getPathOfMagOrPhasePlot(images[1].takenMag == 1)}}'
  {%else%}
    var path = " "
  {%endif%}
  {%if images[2]%}
    var path2 = '../static/assets/'+'{{images[2].getPathOfMagOrPhasePlot(images[2].takenMag == 2)}}'
  {%else%}
    var path2 = " "
  {%endif%}
  
</script>
<script src="..\static\js\style.js"></script>
</body>
</html>

